# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
.env/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore local development configuration files
*.env
docker-compose.yml

# Ignore Git files
.git
.gitignore
ml_app
__pycache__
data_extraction_venv